---
layout: default
showposts: 3
---
<h1>Welcome!</h1>

Evryway have been creating VR and AR projects since 2016.<br><br>

say <a href="mailto:hi@evryway.com">hi@evryway.com</a> to see how we can help.<br>
<hr>

<div class="posts">
{% for post in site.posts %}
<article class="post">

  <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

  <div class="entry">
    {{ post.excerpt }}
  </div>

  <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
</article>
{% if forloop.index >= page.showposts %}
    {% break %}
{% endif %}
{% endfor %}
</div> 


