---
layout: default
showposts: 3
---
<h1>Welcome to Evryway</h1>

Evryway are here to help you create extended reality experiences.<br><br>
We've been helping clients build VR and MR apps since 2016. We've been to space, learned how to use multi-million pound devices, captured the real world and stacked boxes, and we've had huge fun at every step.<br><br>

say <a href="mailto:hi@evryway.com">hi@evryway.com</a> to see how we can help.<br>
<hr>

<div class="posts">
{% for post in site.posts %}
<article class="post">

  <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

  <div class="entry">
    {{ post.excerpt }}
  </div>

  <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
</article>
{% if forloop.index >= page.showposts %}
    {% break %}
{% endif %}
{% endfor %}
</div> 


